In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from scipy import stats
import warnings
warnings.filterwarnings("ignore")

In [2]:
X_train = pd.read_csv("All_X_test.csv")
Y_train = pd.read_csv("All_Y_test.csv")

In [3]:
Y_train

     label
0        0
1        0
2        0
3        0
4        0
..     ...
502      0
503      0
504      0
505      1
506      0

[507 rows x 1 columns]

In [4]:
X_train.columns

Index(['220045', '220179', '220210', '220277', '223761', '220293', '224685',
       '220224', '220235', '225625', '227457', '226540', '224639',
       'subject_id', 'stay_id', 'intime', 'outtime', 'Age', 'gender',
       'ethnicity', 'insurance', 'label', 'hadm_id', 'los', 'select_time'],
      dtype='object')

## ANOVA

In [8]:
# separate continuous variables the first 13th into categories, and do ANOVA test between each of them and the label
# save into a dataframe
anova = pd.DataFrame(columns = ['variable', 'F', 'pval'])
for i in range(13):
    anova = anova.append({'variable': X_train.columns[i], 'F': stats.f_oneway(X_train.iloc[:, i][Y_train['label'] == 0], X_train.iloc[:, i][Y_train['label'] == 1])[0], 'pval': stats.f_oneway(X_train.iloc[:, i][Y_train['label'] == 0], X_train.iloc[:, i][Y_train['label'] == 1])[1]}, ignore_index=True)

In [9]:
anova

   variable         F      pval
0    220045  4.536022  0.033672
1    220179  1.472200  0.225566
2    220210  1.100956  0.294558
3    220277  5.572353  0.018625
4    223761  7.595597  0.006063
5    220293  2.922318  0.087977
6    224685  2.593331  0.107939
7    220224  0.134345  0.714123
8    220235  0.326741  0.567839
9    225625  3.715750  0.054462
10   227457  3.310130  0.069446
11   226540  1.106370  0.293375
12   224639  0.924458  0.336767